
table {
    border-collapse: collapse;
    font-family: Arial;
    display: inline-block ;
}

td {
    border: 1px solid black;
    padding: 5px;
    color: blueviolet;
}

th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: #F00;
}
